@keyframes fade-left {
    0%{
        margin-left: -50%;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes fade-right {
    0%{
        margin-right: -50%;
        opacity: 0;
    }
    100%{
        margin-right: 0;
        opacity: 1;
    }
}
.msg-sent{
    animation: fade-right 1s 1;
}
.msg-recived{
    animation: fade-left 1s 1;
}
i:hover{
    color: black
}
.msg .msg-dropdown ul li:hover{
    background-color: rgba(211, 249, 186, 0.6);
}
.msg .msg-dropdown ul li:last-of-type{
    border-bottom: unset;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #8FDAFA;
    border-color: #8FDAFA;
}
.application-side-section-notifications h4:hover{
    color: blue;
}