body{
    background-color: #DADBD5;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 10vh;
    background-color: #0B9588;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
i{
    color: #B1B1B1
}
h3{
    font-size: 18px;
    font-weight: normal;
}
h4{
    color: grey;
    font-weight: normal;
    font-size: 16px;
}
h5{
    color: rgb(190, 190, 190);
    font-size: 14px;
    font-weight: normal;
}
h6{
    font-size: 12px;
    color: rgb(190, 190, 190);
    font-weight: normal;
}
.overflow-ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; 
}
.underline{
    text-decoration: underline;
}
.circle-white{
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-white i{
    color: #8FDAFA;
}
#application-container{
    background-color: white;
    margin-top: -8vh;
}
section.application-side-section,
section.application-main-section{
    height: 96vh;
    background-color: white;
}
.application-side-section-header,
.application-main-section-header{
    height: 80px;
    background-color: #EAEAEA;
}
.application-side-section-notifications{
    height: 100px;
    background-color: #8FDAFA;
}

.application-side-section-search{
    height: 50px;
    background-color: white;
}

.application-side-section-chat-container{
    background-color: #FAFAFA;
    overflow: auto;
}

.application-main-section-chat-container{
    background-image: url('../images/mine.jpg');
    height: calc(96vh - 80px - 70px);
    overflow: scroll;
}

.msg{
    width: fit-content;
    max-width: 45%;
    min-width: 150px;
    padding: 1rem 1rem;
    padding-bottom: 1.5rem;
    border-radius: 10px;
    flex-shrink: 0;
    position: relative;
}
.msg-sent{
    background-color: #d3f9ba;
    align-self: flex-end;
}
.msg-recived{
    background-color: white;
}
.msg .msg-dropdown{
    position: absolute;
    top: 10px;
    right: 0px;
}

.msg .msg-dropdown ul{
    background-color: rgba(204, 200, 200, 0.8);
    border: solid 1px rgb(204, 200, 200);
    opacity: 0;
    transition: 1s
}
.msg:hover .msg-drodown ul{
    opacity: 1;
}
.msg h6{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.application-main-section-send-message{
    height: 70px;
    background-color: #F3EEEA;
}
.application-main-section-send-message i{
    color: #6B7375
}
.chat-preview{
    height: 90px;
    border-top: solid 1px #e9ebe9;
    border-right: solid 1px #e9ebe9;
    border-bottom: solid 1px #e9ebe9;
    width: 98%;
    position: relative;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.active{
    background-color: #e9ebe9;
}
.time-container{
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}